<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145330433837-m8ec8avhpfujgdq576m7vbcfnh42q0ij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145330433837-m8ec8avhpfujgdq576m7vbcfnh42q0ij</string>
	<key>API_KEY</key>
	<string>AIzaSyBzya6wdTP31thLg2s4bz8rF1z4U4vetjU</string>
	<key>GCM_SENDER_ID</key>
	<string>145330433837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pennapps.Datability1</string>
	<key>PROJECT_ID</key>
	<string>datability-cd3d1</string>
	<key>STORAGE_BUCKET</key>
	<string>datability-cd3d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145330433837:ios:f2cd7234afc054a74b6da4</string>
</dict>
</plist>